body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

button {
  font-size: 24px;
  font-weight: bold;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgb(248, 218, 142);
}

/*div {
  border: 1px solid black;
}*/

.calculator {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  height: 800px;
  width: 600px;
  background-color: rgb(179, 179, 179);
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1em;
  height: 100px;
  margin: 25px 25px 0px 25px;
  font-weight: bold;
  font-size: 50px;
  background-color: antiquewhite;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  margin: 25px;
}

.buttons-row {
  display: flex;
  flex-grow: 1;
  height: 120px;
  gap: 5px;
}

.individual-button {
  height: 100%;
  width: 100%;
}

.zero-button {
  width: 200%;
}

#zero-border {
  border-radius: 100px;
}

.calculator,
.display {
  border-radius: 10px;
  border: 2px solid black;
}

.operator,
.equals {
  background-color: rgb(243, 191, 77);
}
